body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.circle {
  background: red;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  left: 50vw-12.5vw;
  top: 50vh-12.5vh;
}
